<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - My Razor App</title>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/MyRazoApp.styles.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        <partial name="Shared/NavMenuPartial" />
    </header>
    <main>
        @RenderBody()
    </main>
    <footer></footer>
</body>
</html>